
<div class="d-flex align-items-center justify-content-center">
  <label for="search-mode" class="tight padding">Search Mode:</label>
  <select  [(ngModel)]="mode" id="search-mode" class="border rounded padding margin-bottom">
    <option value="title">By Title</option>
    <option value="none">I feel Lucky</option>
    <option value="category">By Category</option>
    <option value="priceAsc">Most Expensive</option>
    <option value="priceDesc">Cheapest</option>
    <option value="brand">By Brand</option>
    <option value="color">By color</option>
    <option value="bestSellers">Option 3</option>
  </select>
  <label for="quantity" class="tight padding">Quantity:</label>
  <select [(ngModel)]="limit" id="quantity" class="border rounded padding margin-bottom">
    <option value="1">1</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="30">30</option>
  </select>
  <button class="btn btn-outline-warning ml" (click)="load()"><mat-icon>search</mat-icon></button>
</div>
<div class="d-flex align-items-center justify-content-center">
  <div class="input-group rounded w-25" [hidden]="hide()">
    <input type="search" class="form-control rounded mr" placeholder="Search" [(ngModel)]="search">
  </div>
</div>

<div class="container m-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col" *ngFor="let product of products" (click)="goToProductDetails(product.id)">
          <div class="card mb-3" style="max-width: 700px;">
              <div class="row g-0">
                  <div class="col-md-6 text-center">
                    <img src="{{ product.image!=='data:image/null;base64,null'?product.image:'assets/images/no-product-image.png' }}" alt="Image" width="150" height="150">

                  </div>
                  <div class="col-md-6">
                      <div class="card-body">
                          <h5 class="card-title">
                              Product
                          </h5>
                          <p class="card-text"><strong>Title:</strong> {{ product.title }}</p>
                          <p class="card-text"><strong>Price:</strong> {{ product.price }}€</p>
                          <p class="card-text"><strong>Stock:</strong> {{ product.stock }} units</p>
                     </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
