<h2>Delivery Method</h2>

<button class="btn btn-outline-success" (click)="toggleAddresses()"><mat-icon>home</mat-icon><br>Delivery</button>
<button class="btn btn-outline-success" (click)="toggleShops()"><mat-icon>shop</mat-icon><br>Take at Shop</button>

<div [hidden]="!addresses">
    <h3><strong>Choose an Adress</strong></h3>
    <div class ="card" *ngFor="let address of addressesList">
        <div class="card-body">
        <input type="radio" name="paymentMethod" [(ngModel)]="selectedAddress" value="{{ address.id }}"> 
        <h4 class="card-title">Address</h4>
        <p class="card-text"><strong>City:</strong> {{ address.city }}</p>
        <p class="card-text"><strong>Street:</strong> {{ address.street }}</p>
        </div>
    </div>
</div>
<div [hidden]="!shops">
    <h3><strong>Choose a Shop</strong></h3>
    <select [(ngModel)]="shopValue">
        <option value=0>Madrid</option>
        <option value=1>Barcelona</option>
        <option value=2>Malaga</option>
        <option value=3>Almeria</option>
    </select>
    <p><strong>Direction</strong></p>
    <p>{{ direction[shopValue] }}</p>
</div>

<button class="btn btn-success" (click)="nextStep()"><strong>NEXT STEP</strong></button>
