
<h3 >Order</h3>
<p ><strong>Status:</strong> {{ order.orderStatus }}</p>
<p ><strong>Payment Status:</strong> {{ order.paymentStatus }}</p>
<p ><strong>Payent Method:</strong> {{ order.paymentMethod }}</p>
<p ><strong>Delivery Method:</strong> {{ order.deliveryMethod }}</p>
<p ><strong>Day Ordered:</strong> {{ order.createdDate }}</p>
<h3>Address</h3>
<p ><strong>Home:</strong> {{ address.city }}</p>
<p ><strong>Apartment:</strong> {{ address.street }}</p>
<h3>Goods</h3>        
<div class ="card" *ngFor="let item of goods" (click)="goToProductDetails(item.id)">
    <div class="card-body">
      <h4 class="card-title">Product</h4>
      <p class="card-text"><strong>Title:</strong> {{ item.title }}</p>
      <p class="card-text"><strong>Price:</strong> {{ item.price }}€</p>
      <p class="card-text"><strong>Stock:</strong> {{ item.quantity }} units</p>
    </div>
</div>

      