<h1>Log In</h1>
<form (ngSubmit)="login()" [formGroup]="loginForm" >
    <div class="mb-2">
        <label class="form-label">
            Email:
        </label>
        <input type="email" name="email" formControlName="email" class="form-control" >
        <div class="alert alert-danger mt-2" [hidden]="email.valid||email.pristine">
            <span *ngIf="email?.errors?.['email']">
                The Email is required
            </span>
            <span *ngIf="email?.errors?.['required']">
                Bad Email Format
            </span>
        </div>
    </div>
    <div class="mb-2">
        <label class="form-label">
            Password:
        </label>
        <input type="password" name="pwd" formControlName="pwd" class="form-control">
        <div class="alert alert-danger mt-2" [hidden]="pwd.valid||pwd.pristine">
            The Password is Required
        </div>
    </div>
    

    <button class="btn btn-primary mt-2" [disabled]="loginForm.invalid">
        Log In
    </button>
</form>