.spacer {
    flex: 1 1 auto;
}


.sidenav{
    width: 250px;
}
.content-wrapper {
    height: calc(100vh - 64px); /* Adjust the height of the toolbar if necessary */
    display: flex;
    flex-direction: column;
  }
  .mr{
    margin-right: 10px;
}
.ml{
    margin-left: 10px;
}