<mat-toolbar color="primary">
    <button mat-button routerLink="" ><mat-icon>shop</mat-icon>Online Shop</button>

    <div class="input-group rounded col-md" [hidden]="searching">
        <input type="search" class="form-control rounded mr" placeholder="Search" #searchInput>
        <button class="btn btn-outline-warning ml" (click)="search(searchInput.value)"><mat-icon>search</mat-icon></button>
    </div>      

    <div class="spacer"></div>
    <button mat-button (click)="sidenav.toggle();" [hidden]="!registered" >Profile</button>
    <button mat-button routerLink="login" [hidden]="registered">Log In</button>
    <button mat-button routerLink="signup" [hidden]="registered" color="accent">Sign Up</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav" position="end">
        <mat-nav-list> 
            <a mat-list-item routerLink="user/profile" (click)="sidenav.toggle();">Your data</a>
            <button mat-list-item (click)="logout();sidenav.toggle();" class="is-danger">Log Out</button>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-wrapper">
            <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

